<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallet</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>

    <div class="ui container">
        <h1 class="ui header">Wallet</h1>
        <div class="ui segment">
            <div class="ui form">
                <div class="field">
                    <label>Public Key</label>
                    <textarea id="public_key" rows="2" cols="100"></textarea>
                </div>
                <div class="field">
                    <label>Private Key</label>
                    <textarea id="private_key" rows="1" cols="100"></textarea>
                </div>
                <div class="field">
                    <label>Blockchain Address</label>
                    <textarea id="blockchain_address" rows="1" cols="100"></textarea>
                </div>
                <button id="reload_wallet" class="ui button">Reload Wallet</button>
            </div>
        </div>

        <div class="ui segment">
            <h2 class="ui header">Send Money</h2>
            <div class="ui form">
                <div class="field">
                    <label>Address</label>
                    <input id="recipient_address" size="100" type="text">
                </div>
                <div class="field">
                    <label>Amount</label>
                    <input id="send_amount" type="text">
                </div>
                <button id="send_money_button" class="ui button primary">Send</button>
            </div>
        </div>

        <div class="ui modal" id="confirm_modal">
            <i class="close icon"></i>
            <div class="header">
                Confirm Send
            </div>
            <div class="content">
                <p>Are you sure to send?</p>
            </div>
            <div class="actions">
                <div class="ui red basic cancel button">Cancel</div>
                <div class="ui green ok button">Send</div>
            </div>
        </div>

        <div id="alert_container"></div> <!-- Alert container -->

    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script>
        $(function () {
            $.ajax({
                url: '/wallet',
                type: 'POST',
                success: function (response) {
                    $('#public_key').val(response['public_key']);
                    $('#private_key').val(response['private_key']);
                    $('#blockchain_address').val(response['blockchain_address']);
                    console.info(response);
                },
                error: function(error) {
                    console.error(error);
                }
            });

            $('#reload_wallet').click(function () {
                showAlert('Wallet reloaded', 'info');
            });

            $('#send_money_button').click(function () {
                $('#confirm_modal').modal({
                    closable: false,
                    onApprove: function () {
                        sendMoney();
                    }
                }).modal('show');
            });

            function sendMoney() {
                let transaction_data = {
                    'sender_private_key': $('#private_key').val(),
                    'sender_address': $('#blockchain_address').val(),
                    'recipient_address': $('#recipient_address').val(),
                    'sender_public_key': $('#public_key').val(),
                    'value': $('#send_amount').val(),
                };

                $.ajax({
                    url: '/transaction',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(transaction_data),
                    success: function (response) {
                        console.info(response);
                        showAlert('Send success', 'success');
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                        showAlert('Send failed: ' + xhr.responseText, 'error');
                    }
                });
            }

            function showAlert(message, type) {
                $('#alert_container').html(`
                    <div class="ui ${type} message">${message}</div>
                `);
            }
        });
    </script>
</body>
</html>
